@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    --transition: all 400ms ease;
}
h1{
    font-size: 6rem;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight:bolder;
}
p{
    color: rgb(239, 250, 245);
}

/* =======Header======*/
header{
    width: 100vx;
    height: 100vh;
    position: relative;
    top: 0;
    background: linear-gradient(0deg, rgb(238, 238, 246) 0%, rgb(91, 79, 151) 50%, rgba(1,1,36,1) 100%);
    overflow: hidden;
}
.header-cont{
    display: grid;
    grid-template-columns: 42% 52%;
    gap: 9%;
    margin-top: 6rem;
    position: relative;
}
.header_image_bg{
    background-color: rgba(102, 95, 148, 0.715);
    height: 22rem;
    width: 16rem;
    position: absolute;
}
.header_image_lg{
    width: 30rem;
    position: relative;
    top: 1rem;
    left: 1rem;
    filter: saturate(0) brightness(0.3);
    transition: var(--transition);
}
.header_image_sm {
    width: 28rem;
    height: 28rem;
    overflow: hidden;
    position: absolute;
    left:6rem;
    top: 6rem;
    filter: brightness(0.8);
    transition: var(--transition);
}
.header-left:hover .header_image_sm {
    opacity: 0;
}
.header-left:hover .header_image_lg{
    filter: saturate(1) brightness(0.9);
    border: 1rem solid;
    top: 0;
    left: 0;
}
.header-right p{
    margin-top: 2rem;
    width: 85%;
}

/*====Gallery Section====*/
#gallery{
    margin-top: 4rem;
    background-color:rgb(238, 238, 246);
}
.gallery-head{
    display: flex;
    justify-content: space-between;
}
.gallery-title{
    margin-top: 1.5rem;
}
.gallery-cont{
    width: auto;
}
.swiper-wrapper{
    margin-top: 1.5rem;
    height: 37rem;
    padding-bottom: 3rem;
}
.swiper-slide{
    border: 0.3rem solid rgba(91, 79, 151,0.5);
    height:fit-content;
    max-height: 36rem;
    overflow: hidden;
    transition: var(--transition);
}
.swiper-slide:hover{
    box-shadow: 0 3rem 3rem rgba(0,0,0,0.2);
}
.swiper-slide img {
    filter: saturate(0);
    transition: var(--transition);
}
.swiper-slide:hover img{
    filter: saturate(1);
}
.swiper-pagination-bullet {
    background-color: orange;
}

/* ======API=======*/
#img-box{
    box-shadow: rgba(58, 62, 58, 0.836) 0px 22px 70px 4px;
    height: 150px;
    width: 150px;
    margin-top:1rem ;
}
#api-cont{
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#albums{
    background-color:rgb(238, 238, 246);
    margin-top: 4rem;
}


/*=====Footer=====*/
#footer {
    color: white;
    background-color: black;
    font-family: var(--font);
    padding: 2em;
    margin-top: 3rem;
}
#follow{

    text-align: center;
    display: flex;
    justify-content: center;
}
#follow-links {
    padding: 0px 30px;
    width: 15%;
    margin-top: 0.5rem;
    display: flex;
    
}
#copyright{
   text-align: center;
   color: gray;
}
/*=====media queries=====*/
@media screen and (max-width: 1023px) and (min-width: 768px) {
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
    
    
    .container {
        width: auto;
        position: relative;
    }
    h1{
        font-size: 2.3rem;
        line-height: 2.5rem;
        color: black;
        font-family: 'Montserrat', sans-serif;
    }
    p{
        color: black;
    }
    h2{
        font-size: 2.5rem;
    }
/* =======Header======*/
    header{
    width: auto;
    height: auto;
    position: relative;
    top: 0;
    background: linear-gradient(0deg, rgb(246, 173, 95) 0%, rgb(246, 160, 67) 50%, rgb(184, 103, 17) 100%);
        overflow: hidden;
    }
    .header-cont{
        display: grid;
        grid-template-columns: 70% 25%;
        gap: 8%;
        margin-top: 2rem;
        position: relative;
    }
    .header_image_bg{
        background-color: rgba(215, 127, 12, 0.715);
        height: 22rem;
        width: 16rem;
        position: absolute;
    }
    .header-right p{
        margin-top: 3rem;
            width: auto;
        }
/*====Gallery Section====*/
    #gallery{
        margin-top: 2rem;
    }
    .gallery-head{
        display: flex;
        justify-content: space-between;
    }
    .gallery-title{
        margin-top: 1.5rem;
    }
    .gallery-cont{
        width: auto;
    }
    .swiper-wrapper{
        margin-top: 1.5rem;
        height: 37rem;
        padding-bottom: 3rem;
    }
    .swiper-slide{
        border: 0.3rem solid rgb(246, 160, 67);
        height:fit-content;
        max-height: 36rem;
        overflow: hidden;
    }
    .swiper-slide:hover{
        box-shadow: 0 3rem 3rem rgba(0,0,0,0.2);
    }
    .swiper-pagination-bullet {
        background-color: orange;
    }
    }